* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #13293D;
    --light-blue: #006494;
    --font-pattern: 'Noto-Sans', sans-serif;
    --font-color-blue: #006494;
    --font-color-white: #fff;
}

body {
    background: var(--dark-blue);
    font-family: var(--font-pattern);
    color: var(--font-color-blue);
}

.container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.card__container {
    background: var(--font-color-white);
    width: 600px;
    padding: 30px;
    border-radius: 12px;
    transform: translateY(200px);
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#card__btn {
    border: none;
    padding: 10px 20px;
    background: var(--light-blue);
    color: var(--font-color-white);
    font-weight: 700;
    border-radius: 20px;
    width: 200px;
}

#card__btn:hover {
    opacity: 0.8;
    transition: 0.2s;
}

#card__color {
    width: 300px;
    height: 200px;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    .card__container {
        transform: translateY(100px);
    }
}